{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "eslint-config-prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "plugins": ["jest", "react-hooks"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "@typescript-eslint/ban-types": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/triple-slash-reference": "warn",
    "camelcase": "off",
    "class-methods-use-this": ["error", { "exceptMethods": ["render"] }],
    "comma-dangle": [2, "only-multiline"],
    "consistent-return": 0,
    "import/no-unresolved": 0,
    "max-len": 0,
    "no-alert": 1,
    "no-console": 1,
    "no-duplicate-imports": 2,
    "no-extra-semi": 2,
    "no-shadow": 0,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "no-useless-constructor": 0,
    "prefer-const": 0,
    "prefer-destructuring": 0,
    "quotes": [1, "single"],
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useFetcher"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-deprecated": 2,
    "react/no-unused-prop-types": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"]
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "**/*.stories.*"],
      "rules": {
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-this-alias": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "root": true,
  "globals": {
    "JSX": true,
    "NodeJS": true,
    "React": true
  }
}
